/* common */
@font-face {
    font-family: "UhBeeHanHUEY";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeHanHUEY.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-size: 17px;
    width: 540px;
    margin: 0 auto;
}

* {
    font-family: "UhBeeHanHUEY", "Noto Sans KR", sans-serif;
}

h1 {
    margin-top: 100px;
    text-align: center;
}

.wrapper {
    width: 540px;
    margin: 0 auto;
    position: relative;
}

.d-none {
    display: none !important;
}
/* common-E */

/* write-wrap */
.write-wrap {
    margin: 50px auto 0;
    width: 500px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#write {
    outline: none;
    height: 50px;
    width: 500px;
    text-indent: 25px;
    border: none;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}

#enter-button {
    font-size: 25px;
    color: yellowgreen;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 60px;
    line-height: 50px;
    transition: 0.3s ease-in-out;
}

#enter-button:hover {
    transform: rotateZ(90deg);
}
/* write-wrap-E */

/* tabel Common Style */
table {
    width: 500px;
    border-collapse: collapse;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

thead {
    background-color: #bbb;
    color: white;
    font-weight: bold;
}

tfoot {
    background-color: lavender;
    font-size: 14px;
}

tfoot > tr > td {
    line-height: 30px;
}

tr {
    line-height: 45px;
}

tr > td {
    padding: 0;
    width: 60px;
}

tr > td:nth-child(2) {
    width: 480px;
}

tbody td:nth-child(2) {
    text-align: left;
    position: relative;
}

tbody tr {
    background-color: #fff;
}
/* tabel Common Style-E */

input[type="checkbox"] {
    vertical-align: middle;
    margin: 0;
    width: 15px;
    height: 15px;
}
.delete {
    border: none;
    font-size: 20px;
    cursor: pointer !important;
    background-color: transparent;
    color: tomato;
    width: 100%;
    text-align: center;
    line-height: 45px;
    transition: transform 0.3s ease-in-out;
}
.delete:hover {
    transform: rotateZ(90deg);
    color: red;
}

/* select-section */
.select-section {
    display: flex;
    margin-top: 25px;
    padding: 0 25px;
    align-items: center;
}

.select-section div {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.select-section div:nth-child(3) {
    width: 100px;
    margin-left: 260px;
}

.select-section div i {
    width: 100%;
    color: #999;
    font-size: 30px;
    border: 0;
    text-align: center;
    line-height: 50px;
    transition: transform 0.2s ease-in-out;
}

.select-section div span {
    font-size: 14px;
}

#select-delete-button:hover {
    color: red;
    transform: scale(1.2);
}

#select-done-button:hover {
    color: royalblue;
    transform: scale(1.2);
}

div .switch {
    margin: 10px 0;
    text-align: center;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    background-color: #999;
}

.switch.off {
    background-color: yellowgreen;
}

.switch-btn {
    border-radius: 50%;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 100%;
    align-self: flex-start;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out;
}

.switch-btn.off {
    transform: translateX(100%);
}
/* select-section-E */

.text {
    position: absolute;
    top: 0;
    left: 70px;
}
.edit {
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer !important;
    width: 45px;
    line-height: 45px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.edit:hover {
    transform: rotateZ(90deg);
}
.fa-check {
    color: yellowgreen;
    position: absolute;
    font-size: 23px;
    right: 0;
    top: 0;
    cursor: pointer !important;
    width: 45px;
    line-height: 45px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.status-icon {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 25px;
    color: #999;
    cursor: pointer !important;
    width: 50px;
    line-height: 45px;
    text-align: center;
}

#done-list-item {
    font-weight: bold;
    background-color: #eee;
}

/* status done */
.status-icon:hover,
.icon-done {
    color: royalblue;
    transition: 0.3s ease-in-out;
}

.bg-done {
    background-color: #eee;
}

.list-done {
    text-decoration: line-through;
    color: #999;
}
/* status done-E */

.editBox {
    position: absolute;
    font-size: 15px;
    top: 6px;
    left: 60px;
    width: 280px;
    height: 35px;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-indent: 10px;
    color: royalblue;
}

/* dark mode */
body.dark {
    background: #000;
    color: #fff;
}
#write.dark {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background: #000;
    color: #fff;
}
table.dark {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
td.dark {
    background: #000;
    color: #fff;
}
thead tr td.dark {
    background: #333;
}
tfoot tr td.dark {
    background: #111;
}
/* dark mode-E */
